.mainBody{
    margin: 5%;
    display: flex;
}

.mainTexts{

    width: 55%;
    margin-right: 5%;
}

.textSet1{
    background-color: #979797;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#mainParagraph1{

}
#mainTextButton1{
    color: white;
    text-decoration: underline;
}
#mainTextButton1:hover{
cursor: pointer;
}

#mainParagraph2{
    display: none;
}
#mainTextButton2{
    color: white;
    text-decoration: underline;
}
#mainTextButton2:hover{
    cursor: pointer;
}

.textSet2{
    background-color: #979797;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mainTexts h1{
 font-weight: 600;
 text-align: center;
 margin: 5%;
 color: white;
}

.mainTexts h2{
    font-weight: 600;
    margin-top: 30px;
    color: white;
   }
.ImageSlider{
    border-radius: 10px;
    width: 40%;
    background-color: #979797;
    padding: 10px;
}

.GuideText{
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

.logos{
    width: 45px;
    height: 45px;
}


@media(max-width: 760px){
    .mainBody{
        margin: 5%;
        display: inline-block;
    }
    .mainTexts{
        width: 100%;
        margin-right: 5%;
    }
    .ImageSlider{
        width: 100%;
    }
    .textSet1{
        padding: 5px;
    }
    .textSet2{
        padding: 5px;
    }
}