.FooterMainBody {
    margin: 0;
    padding: 20px;
    background-color: #979797;
}



.copyText {
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}